<link rel="stylesheet" href="/css/articles.css">
<tbody>
    <div class="container text-center">
        <form action="tasks/search" method="GET">
            <input type="text" name="nombre" placeholder="search...">
        </form>
    </div>
    <div class="all-container">
        <div class="articles-container">
        {{#each productos}}
            <ul class="articles">
                <li class="article">codigo:<b>{{codigo}}</b></li>
                <li class="article">nombre:<b>{{nombre}} x{{presentacion}}kg</b></li>
                <li class="article">precio:<b>${{precio}}</b></li>
                <li class="article">stock:<b>{{stock}}</b></li>
            </ul>
        {{/each}}
        </div>
    </div>
</tbody>