<link rel="stylesheet" href="/css/ventas.css">
<tbody>
    <div class="container text-center">
        <form action="tasks/search" method="GET" class="mb-5 mt-5">
        <label for="nombre">
            buscar por codigo o nombre:
        </label>
            <input type="text" name="nombre" placeholder="search...">
        </form>
        <form action="/subir-csv" method="POST" enctype="multipart/form-data" id="formcsv">
            <label for="csvFile">introducir hoja de calculo:</label>
            <input type="file" id="csvinp" name="csvFile" accept=".csv"><br>
            <input type="radio" id="precioradio" name="modifierSelect">actualizar precios</button>
            <input type="radio" id="stockradio" name="modifierSelect">actualizar stock</button>
            <button type="submit" id="subir_csv" disabled>submit</button>
        </form>
    </div>
    <div class="all-container">
        <div class="container bg-secondary p-0 m-0 ">
            <ul class="row p-0 m-0 d-flex gap-1 d-flex justify-content-center mt-3">
                {{#each productos}}
                <div class="card col-sm-6 col-md-4 p-0 gap-1">
                    <div class="card-body">
                        <ul class="p0 bg-white">
                            <li class="d-flex justify-content-between ">codigo: {{codigo}}<button class="edit-code" data-id="{{id}}" data-modifier="codigo"><i class="bi bi-pencil-fill"></i></button></li>
                            <li class="d-flex justify-content-between ">nombre: {{nombre}} x{{presentacion}}kg</b><button class="edit-name" data-id="{{id}}" data-modifier="nombre"><i class="bi bi-pencil-fill"></i></button></li>
                            <li class="d-flex justify-content-between ">precio: ${{precio}}</b><button class="edit-price" data-id="{{id}}" data-modifier="precio"><i class="bi bi-pencil-fill"></i></button></li>
                            <li class="d-flex justify-content-between ">stock: {{stock}}</b><button class="edit-stock" data-id="{{id}}" data-modifier="stock"><i class="bi bi-pencil-fill"></i></button></li>
                            <li class="d-flex justify-content-center "><button class="trashcan" data-codigo="{{codigo}}"><i class="bi bi-trash"></i></button></li>
                        </ul>
                    </div>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>
    <script src="/js/gallery.js"></script>
</tbody>