<tbody>
    <div class="container text-center">
        <input type="text" name="search" id="search" placeholder="search...">
    </div>
    {{#each productos}}
    <div class="container text-center border border-primary-subtle rounded-3 p-3">
        <ul style="list-style: none">
            {{!-- <li class="text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">id:{{id}}</li>
            <li class="text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">codigo:{{codigo}}</li> --}}
            <li class="text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">nombre:{{nombre}}</li>
            <li class="text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">precio:{{precio}}</li>
            <li class="text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">stock:{{stock}}</li>
        </ul>
    </div>
    {{/each}}
</tbody>