<link rel="stylesheet" href="/css/articles.css">
<tbody>
    <div class="all-container">
        <div class="articles-container">
            {{#each productos}}
            <ul class="articles">
                <li class="article">id:{{id}}</li>
                <li class="article">codigo:{{codigo}}</li>
                <li class="article">nombre:{{nombre}}</li>
                <li class="article">precio:{{precio}}</li>
                <li class="article">stock:{{stock}}</li>
            </ul>
            {{/each}}
        </div>
    </div>
</tbody>