<link rel="stylesheet" href="/css/articles.css">
<tbody>
    <div class="container text-center">
        <form action="search" method="GET">
            <input type="text" name="nombre" placeholder="search...">
        </form>
    </div>
    <div class="all-container">
        <div class="articles-container">
            {{#each productos}}
            <ul class="articles">
                <li class="article">codigo:{{codigo}}</li>
                <li class="article">nombre:{{nombre}}   x{{presentacion}}kg</li>
                <li class="article">precio:{{precio}}</li>
                <li class="article">stock:{{stock}}</li>
            </ul>
            {{/each}}
        </div>
    </div>
</tbody>